body{
    font-family: "Roboto";
}
* , *::after *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --orange:#e86d50;
}
.header{
background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    border-radius: 0 0px 10rem 10rem;
}
.nav__icon{
    transform: scale(2);
}
.nav{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__left-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav___list{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
.nav__item--link{
    text-decoration: none;
    color: #c0ccd7;
    font-size: 1.1rem;
    transition: 250ms;
}
.nav__item--link:hover{
    color: #fff;
}
.nav__item--focus{
    color: #fff;
    position: relative;
    z-index: 2;
}
.nav__item--focus::after{
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 1.2px;
    background-color: rgb(254, 31, 31);
    transform: rotate(45deg);
    right: 4px;
    top: 12px;
}
.nav__right-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav__link--signup{
    color: #fff;
}
.nav__link--signup:hover{
    color: var(--orange);
}
.nav__link--signin{
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    transition: 300ms;
}
.nav__link--signin:hover ,.header__button-discover:hover{
    background-color: darkgrey;
    color: var(--orange);
}
.header__main{
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.header__comment{
    font-size: 2.5rem;
    color: #fff;
    max-width: 18rem;
    text-align: center;
    font-weight: bold;
    font-family: "Archivo Black";
}
.header__subcomment{
    max-width: 27rem;
    text-align: center;
    color: #fff;
    line-height: 1.8rem;
}
.header__button-discover{
    color: #fff;
    background-color: #e86d50;
    border: none;
    outline: none;
    padding: .7rem 2.7rem;
    border-radius: 4rem ;
    font-family: "Roboto Medium";
    transition: 300ms;
}
.sidenav{
    width: 1.9rem;
    height: 1.9rem;
    background-color: #e86d50;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidenav__line{
    width: 1.5rem;
    height: 2.2px;
    background-color: #fff;
    position: relative;
    top: 13px;
    left: 2.8px;
}
.sidenav__line::after{
    content: '';
    width: 1.5rem;
    height: 2.2px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 7px;
}
.sidenav__line::before{
    content: '';
    width: 1.5rem;
    height: 2.2px;
    background-color: #fff;
    display: block;
    position: absolute;
    bottom: 7px;
}
.sidenav{
    display: none;
}