body {
    font-family: "Roboto Medium";
    background-color: var(--bg-color);
}

*,
*::after *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #e86d50;
    --information: #424242;
    --bg-color: #faf3f1;
    --white: #FFF;
}

a {
    text-decoration: none;
}

/* header */


.header {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0px 10rem 10rem;
    padding-bottom: 8rem;
}

.nav {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav___list {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.nav__item--link {
    text-decoration: none;
    color: #c0ccd7;
    font-size: 1.1rem;
    transition: 250ms;
}

.nav__item--link:hover {
    color: #fff;
}

.nav__item--focus {
    color: #fff;
    position: relative;
    z-index: 2;
}

.nav__item--focus::after {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 1.2px;
    background-color: rgb(254, 31, 31);
    transform: rotate(45deg);
    right: 4px;
    top: 12px;
}

.nav__right-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__link--signup {
    color: #fff;
}

.nav__link--signup:hover {
    color: var(--orange);
}

.nav__link--signin {
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    transition: 300ms;
}

.nav__link--signin:hover,
.header__button:hover {
    background-color: darkgrey;
    color: var(--orange);
    cursor: pointer;
}

.nav__link--signin:hover {
    cursor: pointer;
}

.header__main {
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.header__comment {
    font-size: 2.5rem;
    color: #fff;
    max-width: 18rem;
    text-align: center;
    font-weight: bold;
    font-family: "Archivo Black";
}

.header__subcomment {
    max-width: 27rem;
    text-align: center;
    color: #fff;
    line-height: 1.8rem;
}

.header__button {
    color: #fff;
    background-color: #e86d50;
    border: none;
    outline: none;
    padding: .7rem 2.7rem;
    border-radius: 4rem;
    font-family: "Roboto Medium";
    transition: 300ms;
}

.sidenav {
    width: 1.9rem;
    height: 1.9rem;
    background-color: #e86d50;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav__line {
    width: 1.5rem;
    height: 2.2px;
    background-color: #fff;
    position: relative;
    top: 13px;
    left: 2.8px;
}

.sidenav__line::after {
    content: '';
    width: 1.5rem;
    height: 2.2px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 7px;
}

.sidenav__line::before {
    content: '';
    width: 1.5rem;
    height: 2.2px;
    background-color: #fff;
    display: block;
    position: absolute;
    bottom: 7px;
}

.sidenav {
    display: none;
}


/* services */


.services {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -5rem;
}

.box {
    width: 13rem;
    /* height: 10rem; */
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Archivo Black";
    font-weight: 100;
    gap: 1.5rem;
    padding: 1rem;
}

.box___upsec {
    width: 70px;
}

.box___downsec {
    text-align: center;
    line-height: 2rem;
}

.box__downsec--footer {
    color: var(--information);
    font-size: 10px;
    line-height: 110%;
}


/* main (distance) */


.main {
    margin-top: 5rem;
}

.destination {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.destination__title {
    max-width: 17rem;
    padding-bottom: 1.5rem;
    font-family: "Archivo Black";
}

.distance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.distance__item {
    height: 18rem;
    width: 15rem;
    background-color: #FFF;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.distance__location {
    width: 88%;
    position: relative;
}

.distance__location--img {
    display: block;
    border-radius: 1.5rem;
    width: 100%;
}

.comment__title {
    font-family: "Archivo Black";
    color: #303030;
}

.distance__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    gap: 0.8rem;
}

.comment__info {
    color: var(--information);
}

.distance__badge {
    position: absolute;
    width: 5rem;
    padding: .5rem 0rem;
    background-color: #fff;
    color: var(--orange);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: sans-serif;
    margin: 0 auto;
    bottom: -9px;
    left: 0;
    right: 0;
}

.hear-svg {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 1.5rem;
    background-color: #FFF;
    border-radius: 10px;
    padding: .10rem;
    cursor: pointer;
}


/* feedback */
.feedback {
    width: 100%;
    height: 20rem;
    background-color: #fae0da;
    justify-self: center;
    margin-top: 6rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.feddback__comment {
    width: 50%;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5rem;
}

.feedback__title {
    justify-self: center !important;
}

.feedback__info {
    color: var(--information);
    max-width: 22rem;
}

.feedback__banner {
    width: 50%;
    padding-right: 3rem;
    background-size: cover;
}

.banner__img {
    width: 100%;
}

.form {
    width: 20rem;
    height: 2.5rem;
    border-radius: .5rem;
    background-color: var(--white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__icon--email {
    position: absolute;
    left: 5px;
}

.form__input {
    outline: none;
    border: none;
    position: absolute;
    left: 2rem;

}

.button__submit {
    background-color: var(--orange);
    border-radius: .5rem;
    outline: none;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 2rem;
    position: absolute;
    right: 5px;
}

/* footer */
.footer {
    background-color: #fae0da;
    border-radius: 7rem 7rem 0 0;
    margin-top: 6rem;
    padding: 4rem 7rem;
}

.footer__section {
    display: flex !important;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.footer__info-title {
    margin-bottom: 2rem;
}

.footer__info-description {
    max-width: 27rem;
    margin-bottom: 4rem;
    line-height: 1.5rem;
    color: var(--information);
}

.footer__link-title {
    margin-bottom: 1rem;
}

.footer__about-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__link-item {
    color: var(--information);
}

.footer__about-title {
    margin-bottom: 1rem;
}
.copyright__section{
    margin: 2rem auto;
    left: 0;
    right: 0;
    width: 15rem;
    
}