.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 4rem;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 900px;
    }

    .distance {
        gap: 2rem;
    }

    .footer__section {
        gap: 2rem;
    }

    .footer__link {
        margin-bottom: 2rem;
    }
    .footer__about-list{
    max-width: 10rem;
    }
}

@media only screen and (max-width: 1008px) {
    .container {
        max-width: 720px;
    }
    body{
        position: relative;
    }

    .nav___list {
        flex-direction: column;
        background-color: var(--orange);
        position: absolute;
        left: 0;
        top: 0;
        align-items: start;
        gap: 2rem;
        height: 100%;
        width: 10rem;
        z-index: 100;
    }
    .hidden-992{
        display: none;
    }

    .sidenav {
        display: block;
    }

    .box {
        flex-basis: 40%;
    }

    .box__downsec--footer {
        max-width: 10rem;
        line-height: 1rem;
    }

    .services {
        gap: 1rem;
    }

    .feedback {
        flex-direction: column;
        height: 30rem;
        gap: 2rem;
    }

    .feedback__banner {
        order: -1;
    }

    .feddback__comment {
        padding: 0;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .feedback__banner {
        padding: 0;
        margin: 0;
    }

    .form {
        padding: 0;
    }

    .footer__help {
        padding-right: 29px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .box {
        flex-basis: 70%;
        box-shadow: 2px 4px 8px #ffd5cb;
    }

    .services {
        gap: 2rem;
    }

    .form {
        width: 18rem;
    }

    .feedback__info {
        width: 100%;
    }

    .footer__info {
        margin: 0 auto;
        text-align: center;
    }

}

@media only screen and (max-width: 575px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    .header__subcomment {
        max-width: 19rem;
    }

    .form {
        width: 15rem;
    }

    .footer__section {
        justify-content: center;
        text-align: center;
    }

    .footer__help {
        padding: 0;
        margin: 0;
    }
}