.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width:1200px){
    conteiner{
        width: 1140px;
    }
}
@media only screen and (max-width:992px){
    conteiner{
        width: 720px;
    }
}
@media only screen and (max-width:768px){
    conteiner{
        width: 540px;
    }
}
@media only screen and (max-width:576px){
    conteiner{
        width: 100%;
    }
}